html {
    scroll-behavior: smooth;
}

#output {
    max-width: auto;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    background: linear-gradient(pink, lightblue);
    margin-top: 30px;
    padding-top: 30px;
}

#gifs {
    width: 180px;
    height: 130px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px;
    margin: 20px;
}

#form {
    position: fixed;
    padding: 20px;
}

#text {
    max-width: 200px;
    height: 25px;
    font-weight: bold;
    font-size: 18px;
    color: gray;
    padding: 3px;
    border-radius: 8px;
    outline: none;
}

#button {
    border-radius: 8px;
    background: rgb(161, 144, 238);
}

#select {
    border-radius: 8px;
}

#fa-angle-double-up {
    background-color: black;
    width: auto;
    height: auto;
}