html {
    scroll-behavior: smooth;
}

main {
    margin: auto;
    display: flex;
    flex-direction: column;
}

#top {
    background: #52525246;
    border-radius: 8px;
    padding: 3px;
    margin: 0;
    display: block;
}

#output {
    max-width: 660px;
    position: block;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    background: linear-gradient(pink, lightblue);
    margin-top: 30px;
    padding-top: 30px;
    display: none;
    transition: display 0.3s ease-out;
}

#gifs {
    width: 180px;
    height: 130px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px;
    margin: 20px;
}

#form {
    position: fixed;
    padding: 20px;

    display: flex;
    justify-content: space-between;
}

#text {
    max-width: 200px;
    height: 25px;
    font-weight: bold;
    font-size: 18px;
    color: gray;
    padding: 3px;
    border-radius: 8px;
    outline: none;
    margin-left: 4px;
}

#select {
    border-radius: 8px;
    outline: none;
    width: 40px;
    height: 30px;
    margin-left: 5px;
}

#arrow {
    width: 40px;
    height: 40px;
    color: #525252;
    display: none;
    margin: 20px;
}

#arrow:hover {
    color: #bd5454;
    transition: color 0.3s ease-out;
}

#searchIcon {
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-top: 5px;
}